@charset "UTF-8";
/*****Couleur*****/
h1, h2, h3, p, a, i {
  text-decoration: none;
  margin: 0;
}

main {
  font-family: "Roboto", sans-serif;
}

.boutton__reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 57px;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.boutton__reservation:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  filter: opacity(0.7);
}

/**/
.restaurant__coeur-bordure {
  position: relative;
  color: black;
  font-size: 21px;
  left: 1px;
}

.restaurant__coeur-gradient {
  font-size: 21px;
  right: 25px;
  position: relative;
  color: transparent;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.restaurant__coeur-gradient:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

/**/
.boutton__menu {
  margin: auto;
  margin-bottom: 40px;
  height: 50px;
  width: 186px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-direction: alternate-reverse;
}
.boutton__menu:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  filter: opacity(0.7);
}

@media only screen and (min-width: 768px) {
  /* styles pour tablette */
}
@media only screen and (min-width: 1024px) {
  /* styles pour bureau */
  .boutton__reservation {
    margin-bottom: 30px;
  }
}
/*****Restaurant*****/
.restaurant {
  background-color: #f6f6f6;
  padding: 54px 18px 66px 17px;
}
.restaurant__titre {
  padding-left: 6px;
  padding-bottom: 20px;
  margin: 0;
}
.restaurant__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 18px;
}
.restaurant__carte {
  height: 251px;
  width: 100%;
  position: relative;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.restaurant__carte img {
  display: block;
  object-fit: cover;
  object-position: center 61%;
  border-radius: 15px 15px 0 0;
  height: 174px;
  width: 100%;
}
.restaurant__nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 14px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  width: 80px;
  height: 29px;
  right: 12px;
  top: 13px;
}

.restaurant__placement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.restaurant-texte {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px 0 12px 13px;
}
.restaurant-texte__texte-titre {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  height: 20px;
}
.restaurant-texte__texte-sous-titre {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  height: 24px;
}

@media only screen and (min-width: 768px) {
  /* styles pour tablette */
  .restaurant__titre {
    margin: auto;
    width: 80%;
  }
  .restaurant__carte {
    width: 80%;
  }
}
@media only screen and (min-width: 1024px) {
  /* styles pour bureau */
  .restaurant {
    padding: 30px 180px;
  }
  .restaurant__titre {
    padding-left: 0px;
    margin: 0;
  }
  .restaurant__grid {
    grid-template-columns: repeat(2, 2fr);
    row-gap: 50px;
    column-gap: 100px;
    width: 100%;
    margin: auto;
  }
  .restaurant__carte {
    width: 100%;
    position: relative;
    box-shadow: none;
  }
}
.custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(320deg, #9356DC -11.44%, #FF79DA 123.93%);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: background-loader 3s linear 1 none;
  animation-fill-mode: forwards;
  z-index: 5;
}
.custom__loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(rgba(0, 0, 0, 0) 10%, #99E2D0);
  animation: s3 3s linear 1 none;
  animation-fill-mode: forwards;
}

@keyframes background-loader {
  0% {
    opacity: 1;
    z-index: 5;
  }
  60% {
    opacity: 1;
    z-index: 5;
  }
  99% {
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -111;
  }
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
  0% {
    transform: rotate(0deg);
    z-index: 5;
  }
  60% {
    opacity: 1;
    z-index: 5;
  }
  99% {
    z-index: 5;
  }
  100% {
    transform: rotate(1800deg);
    opacity: 0;
    z-index: 5;
    z-index: -111;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  font-family: "Shrikhand", sans-serif;
  z-index: 1;
}
.header__logo {
  height: 44px;
  margin-bottom: 5px;
  color: black;
  font-size: 30px;
}
.header .fa-arrow-left {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0;
  margin-left: 23px;
  color: black;
}

@media only screen and (min-width: 768px) {
  /* styles pour tablette */
}
@media only screen and (min-width: 1024px) {
  /* styles pour bureau */
  .header {
    align-items: flex-start;
    height: 96px;
    box-shadow: none;
  }
  .header__logo {
    display: flex;
    align-items: center;
    height: 34.2px;
    margin-top: 30px;
    margin-bottom: 0px;
    color: black;
    font-size: 34.2px;
  }
  .header .fa-arrow-left {
    font-size: 30px;
  }
}
/*****Reservation*/
.reservation {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
}
.reservation__emplacement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  gap: 17px;
  background-color: #EAEAEA;
}
.reservation__emplacement-titre {
  font-weight: 500;
}
.reservation__titre {
  padding-top: 39.5px;
  margin: auto;
  height: 68px;
  width: 275px;
}
.reservation__sous-titre {
  margin: auto;
  height: 46px;
  width: 315px;
  padding-bottom: 27px;
  font-size: 18px;
}

.fonctionnement {
  height: 324px;
  padding: 48px 20px 68px 20px;
}
.fonctionnement__titre {
  margin: 0;
  padding-bottom: 26px;
}
.fonctionnement__placement {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 267px;
}
.fonctionnement__carte {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-left: 12px;
  height: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement__chiffre {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-12px, 100%);
  margin: 0;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 12px;
  font-size: 12px;
}
.fonctionnement__texte {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  /* styles pour tablette */
}
@media only screen and (min-width: 1024px) {
  /* styles pour bureau */
  .reservation__titre {
    width: 100%;
    height: 47px;
    font-size: 40px;
    padding-top: 30px;
  }
  .reservation__sous-titre {
    display: flex;
    width: 100%;
    margin: 18px 0;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
  }
  .fonctionnement {
    padding: 50px 207px 50px 180px;
    height: auto;
  }
  .fonctionnement__placement {
    flex-direction: row;
    height: auto;
  }
  .fonctionnement__carte {
    width: 100%;
    height: 72px;
  }
}
.footer {
  padding: 22px 0 22px 25px;
  background-color: #353535;
}
.footer h2 {
  display: flex;
  color: white;
  font-family: "Shrikhand", italic;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 16px;
}
.footer__placement {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__placement a {
  color: white;
  font-family: "Roboto", sans-serif;
}
.footer__texte-icone {
  display: flex;
  gap: 11px;
}

@media only screen and (min-width: 768px) {
  /* styles pour tablette */
  .footer__placement {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  /* styles pour bureau */
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px;
    gap: 16px;
    height: 54px;
  }
  .footer h2 {
    align-items: center;
    height: 27px;
    padding-bottom: 0px;
  }
  .footer__placement {
    flex-direction: row;
  }
  .footer__placement a {
    color: white;
    font-family: "Roboto", sans-serif;
  }
  .footer__texte-icone {
    width: 192px;
  }
  .footer__texte {
    display: flex;
    width: 130px;
  }
}
body {
  display: flex;
  justify-content: center;
  margin: auto;
}

.body__container {
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  /* styles pour tablette */
  .body__container {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1024px) {
  /* styles pour bureau */
  .body__container {
    max-width: 1440px;
  }
}
/*****Menu******/
.main__image {
  object-fit: cover;
  width: 100%;
  height: 275px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: -55px;
  background-color: #f6f6f6;
  height: auto;
  border-radius: 40px 40px 0 0;
  padding: 0 13px;
  position: relative;
  z-index: 1;
}
.menu__titre-placement {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.menu__titre-principal {
  padding: 31px 0 40px 5px;
  font-size: 28px;
  font-weight: 400;
  font-family: "Shrikhand", italic;
}
.menu__item {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding: 15px 14px;
}
.menu__placement {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 40px;
}
.menu__carte-placement {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-right: 20px;
  width: 100%;
}

.menu__placement:nth-child(2) {
  opacity: 0;
  animation: myAnim 0.5s ease-in-out forwards;
}

.menu__placement:nth-child(3) {
  opacity: 0;
  animation: myAnim 0.5s ease-in-out forwards;
  animation-delay: 0.2s;
}

.menu__placement:nth-child(4) {
  opacity: 0;
  animation: myAnim 0.5s ease-in-out forwards;
  animation-delay: 0.4s;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu__titre-catégorie {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  height: 24px;
  font-size: 16px;
  font-weight: 300;
}
.menu__carte {
  display: flex;
  flex-direction: row;
  background-color: white;
  overflow: hidden;
  height: 69px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.menu__titre {
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__sous-titre {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 300;
}
.menu__prix {
  display: flex;
  align-items: flex-end;
  font-size: 15px;
  font-weight: 700;
}

.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  width: 59px;
  border-radius: 0 15px 15px 0;
  background: #99E2D0;
  margin-right: -59px;
  transition: 0.4s;
}

.menu__carte:hover .animation {
  margin-right: 0px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  /* styles pour tablette */
  .menu {
    padding: 0 80px;
  }
}
@media only screen and (min-width: 1024px) {
  /* styles pour bureau */
  .main__placement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__image {
    height: 383px;
  }
  .menu {
    width: 62.2%;
    align-items: center;
  }
  .menu__placement {
    width: 634px;
  }
  .menu__titre-placement {
    gap: 24px;
  }
  .menu__titre-principal {
    padding: 51px 0 40px 0;
  }
}
.fa-location-dot {
  color: black;
}

.fa-mobile-screen-button, .fa-list-ul {
  color: #7e7e7e;
}

.fa-store {
  color: #9356DC;
}

/*Footer*/
.fa-utensils, .fa-handshake-angle {
  width: 13px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
