body {
    display: flex;
    justify-content: center;
    margin: auto;
}

.body__container{
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    box-sizing: border-box;
}

h1, h2, h3, p, a, i{
    text-decoration: none;
    color: #000000;
}
