/*****Menu******/
.main__image{
    object-fit: cover;
    width: 100%;
    height: 275px;
}

.menu{
    display: flex;
    flex-direction: column;
    margin-top: -55px;
    background-color: #F7F7F7;
    height:auto;
    border-radius: 40px 40px 0 0;
    padding: 0 13px;
    position: relative;
    z-index: 1;
    &__titre-placement{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__titre-principal{
        padding: 31px 0 40px 5px;
        font-size: 28px;
        font-weight: 400;
        font-family: 'Shrikhand', italic;
    }
    &__item{
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        padding: 15px 14px; 
    }
    &__placement{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 40px;
    }
    &__carte-placement{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-right: 20px;
        width: 100%;
    }
}
.menu__placement:nth-child(2) {
    opacity: 0;
    animation: myAnim 0.5s ease-in-out forwards;
  }
.menu__placement:nth-child(3) {
    opacity: 0;
    animation: myAnim 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
}
.menu__placement:nth-child(4) {
    opacity: 0;
    animation: myAnim 0.5s ease-in-out forwards;
    animation-delay: 0.4s;
}


@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.menu{
    &__titre-catégorie{
        border-bottom: 3px solid $vert-pastel;
        width: 40px;
        height: 27px;
    }
    &__carte{
        display: flex;
        flex-direction: row;
        background-color: white;
        overflow: hidden;
        height: 66px;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }
    &__titre{
        font-size: 18px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__sous-titre{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 300;
    }
    &__prix{
        font-size: 18px;
        font-weight: 700;
    }
}

.animation{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px; 
    width: 59px;
    border-radius: 0 15px 15px 0;
    background: $vert-pastel;
    margin-right: -59px;
    transition: 0.4s;
}

.menu__carte:hover .animation{
    margin-right: 0px;
    cursor: pointer;
}


@media only screen and (min-width: 768px) {
    /* styles pour tablette */
    .menu{
        padding: 0 80px;
    }
}

@media only screen and (min-width: 1024px) {
    /* styles pour bureau */
    .main{
        &__placement{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .menu{
        width: 74%;
        align-items: center;
        &__placement{
            width: 634px;
        }
    }
}