/*****Menu******/
.main__image{
    object-fit: cover;
    width: 375px;
    height: 275px;
}

.menu{
    display: flex;
    flex-direction: column;
    margin-top: -55px;
    background-color: #F7F7F7;
    height:auto;
    border-radius: 40px 40px 0 0;
    padding: 0 13px;
    position: relative;
    z-index: 1;
    &__titre-placement{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__titre-principal{
        padding: 31px 0 40px 5px;
        font-size: 28px;
        font-weight: 400;
        font-family: 'Shrikhand', italic;
    }
    &__placement{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 40px;
    }
    &__carte-placement{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px 14px; 
    }
}

.menu{
    &__titre-catégorie{
        border-bottom: 3px solid $vert-pastel;
        width: 40px;
        height: 27px;
    }
    &__carte{
        display: flex;
        flex-direction: row;
        background-color: white;
        overflow: hidden;
        height: 66px;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }
    &__titre{
        font-size: 18px;
        font-weight: 700;
    }
    &__sous-titre{
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 300;
    }
    &__prix{
        font-size: 18px;
        font-weight: 700;
    }
}

.aqwx{
    width: 59px;
    border-radius: 0 15px 15px 0;
    background: $vert-pastel;
    margin-right: -59px;
}

.menu__carte:hover .aqwx{
    margin-right: 0px;
}


@media only screen and (min-width: 768px) {
    /* styles pour tablette */
    }

@media only screen and (min-width: 1024px) {
    /* styles pour bureau */
    .main__image{
        width: 100%;
    }
    }