.header{
    display: flex;
    justify-content: center;
    height: 63px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Shrikhand', sans-serif;
    z-index: 1;
    &__logo {
        display: flex;
        align-items: center;
        height: 44px;
        text-decoration: none;
        color: black;
        padding-top: 14px;
        font-size: 30px;
    }

}