/*****Reservation*/
.reservation{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F7F7F7;
    &__emplacement{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        gap: 17px;
        background-color: #EAEAEA;
    }
    &__emplacement-titre{
        font-weight: 500;
    }
    &__titre{
        padding-top: 39.5px;
        margin: auto;
        height: 68px;
        width: 275px;
    }
    &__sous-titre{
        margin: auto;
        height: 46px;
        width: 315px;
        padding-bottom: 27px;
        font-size: 18px;
    }
}

.fonctionnement{
    height: 324px;
    padding: 48px 20px 68px 20px ;

    &__titre{
        margin: 0;
        padding-bottom: 26px;
    }
    &__placement{
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 267px;
    }
    &__carte{
        display: flex;
        flex-direction: row;
        background-color: #F6F6F6;
        border-radius: 20px;
        margin-left: 12px;
        height: 100%;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    }
    &__chiffre{
        display: flex;
        align-items: center;
        justify-content: center;
        translate: -12px 100%;
        margin: 0;
        background-color: #9356DC;
        height: 24px;
        width: 24px;
        color: white;
        border-radius: 12px;
        font-size: 12px;
    } 
    &__texte{
        display: flex;
        flex-direction: row;
        align-items: center;
        translate: 8px;
        gap: 20px;
    }
}

@media only screen and (min-width: 768px) {
    /* styles pour tablette */
}

@media only screen and (min-width: 1024px) {
    /* styles pour bureau */
    .reservation{
        &__titre{
            width: 100%;
            height: 47px;
            font-size: 40px;
            padding-top: 30px;
        }
        &__sous-titre{
            display: flex;
            width: 100%;
            margin: 18px 0;
            padding-bottom: 0;
            justify-content: center;
            align-items: center;
        }
    }

    .fonctionnement{
        padding: 50px 207px 50px 180px;
        height: auto;
        &__placement{
            flex-direction: row;
            height: auto;
        }
        &__carte{
            width: 100%;
            height: 72px;
        }
    }
}