/*****Restaurant*****/

.restaurant{
    background-color: #f7f7f7;
    padding: 54px 0 66px 0;
    &__titre{
        padding-left: 20px;
        padding-bottom: 20px;
        margin: 0;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 18px;   
    }
    &__carte{
        height: 251px;
        width: 340px;
        position: relative;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    }
    
}

.restaurant{
    &__carte img{
        display: block;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        height: 174px;
        width: 100%;
    }
    &__nouveau{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: $vert-pastel;
        color: $vert;
        border-radius: 2px;
        width: 80px;
        height: 29px;
        right: 15px;
        top: 15px;
    }

}    
.restaurant{
    &__placement{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
    }
}

.restaurant-texte{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 16px 0 16px 13px;

    &__texte-titre{
        margin: 0;
        font-size: 18px;
        font-weight: 700;
    }
    &__texte-sous-titre{
        margin: 0;
        font-size: 17px;
        font-weight: 300;
    }
}

